<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="NothingCore"
        tools:targetApi="31">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Compatibility module for NothingOS applications." />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/scope" />

        <service
            android:name="com.nothing.proxy.NothingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nothing.proxy.bind_nothing_service" />
            </intent-filter>
        </service>
    </application>

</manifest>